@{
    ViewBag.Title = "Home Page";
}

<section id="hero" class="d-flex align-items-center" style="margin-top:4rem">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Your Gateway to Opportunities</h1>
                <h4 style="color:darkslateblue">
                    "Unlock a world of opportunities with CareerConnect, your gateway to success."             </h4>
                
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img  src="https://i.ibb.co/GkzZ4Zq/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->